{% extends 'security/base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }
    </style>

    <div class="example-wrapper" style="justify-content: center">
        <h1>Registration</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            label: 'Email'
        }) }}
        {{ form_row(registrationForm.countryId, {
            label: 'Country'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
